<div id="box_content">
  <div class='col-xs-12' id="box_icons" style="padding: 28px;">
    <div class='col-xs-4'>
      <i class="fa fa-file-code-o"></i>
    </div>
    <div class='col-xs-4'>
      <i class="fa fa-file-o"></i>
    </div>
    <div class='col-xs-4'>
    </div>
  </div>
  <div class='clearfix'></div>
  <div class='popover-footer text-center'>
    <%= link_to "Więcej", "#" %>
    <div class="clearfix"></div>
  </div>
</div>
