<style>
  .grid-stack-item-content {background: white;}
  body {background: #2c3e50;}
</style>
<div class="grid-stack">
  <div class="grid-stack-item" data-gs-x="2" data-gs-y="1" data-gs-width="8" data-gs-height="1">
    <div class="grid-stack-item-content" style="background: red;"></div>
  </div>
  <div class="grid-stack-item" data-gs-x="2" data-gs-y="1" data-gs-width="2" data-gs-height="2">
    <div class="grid-stack-item-content"></div>
  </div>
  <div class="grid-stack-item" data-gs-x="8" data-gs-y="2" data-gs-width="2" data-gs-height="2">
    <div class="grid-stack-item-content"></div>
  </div>
</div>
