<style>
  .grid-stack-item-content { background: white;}
</style>
<h1>Hello World</h1>
<div class="grid-stack" style="background: #2c3e50; padding: 20px;">
  <div class="grid-stack-item" data-gs-x="2" data-gs-y="1" data-gs-width="8" data-gs-height="1">
    <div class="grid-stack-item-content"></div>
  </div>
  <div class="grid-stack-item" data-gs-x="2" data-gs-y="2" data-gs-width="2" data-gs-height="2">
    <div class="grid-stack-item-content"></div>
  </div>
  <div class="grid-stack-item" data-gs-x="8" data-gs-y="2" data-gs-width="2" data-gs-height="2">
    <div class="grid-stack-item-content"></div>
  </div>
</div>
