.navbar-avatar {
  padding: 10px!important;
}
.navbar-avatar img {
  width: 32px;
  height: 32px;
}
.navbar-nav > li {
  opacity: .55;
  z-index: 9999;
}
.navbar-nav > li:hover,
.navbar-nav > li:focus,
.navbar-nav > li > a:focus {
  opacity: .85;
}
.popover-footer {
  font-size: 14px;
  padding: 8px 14px;
  margin: 0px -14px -10px;
  background-color: #f7f7f7;
  border-radius: 0px 0px 5px 5px;
  border-bottom: 1px solid #ebebeb;
}
.popover {
  max-width:700px;
}
.popover .col-xs-12, .popover .col-xs-6  {
  padding:0px;
}
.popover .col-avatar {
  padding: 0px;
  width: 96px;
  min-height: 96px;
  margin: 5px 5px 15px 5px;
  background-image:url("https://lh5.googleusercontent.com/-PfncbBm91-A/AAAAAAAAAAI/AAAAAAAAAAA/iiQJuN_7LJw/photo.jpg");
  background-size:cover;
}
.grid-stack {
  background: transparent;
}
.popover div#box_icons {
  font-size: 55px;
}
.popover div#box_icons .col-xs-4:hover {
  border: 1px solid #e5e5e5;
}
.popover div#box_profile {
  width:230px;
}
.popover div#box_content {
  width:300px;
}